@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap");

body {
    font-family: "Fira Code", monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

@keyframes transicaoEixoX {
    0% {
        transform: translateX(-500px);
        background-color: transparent;
    }
    50% {
        transform: translateY(60px);
    }

    95% {
        transform: translateX(20px);
    }
    100% {
        transform: translateX(0);
    }
}

@keyframes transicaoOpacidade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes cores {
    0% {
        background-color: aquamarine;
    }
    25% {
        background-color: #f10;
    }
    75% {
        background-color: #01f;
    }
    100% {
        background-color: rgb(38, 255, 0);
    }
}

h1 {
    font-size: 65px;
    animation: transicaoOpacidade 4s;
}

span {
    background-color: #39c9d4;
    padding: 5px;
    margin-left: 10px;
    color: #000;
    font-size: 18px;
    font-style: italic;
    animation: cores 2s infinite;
}
